<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body>
        <% include ../partials/header %>
        <main class="page-content">
            <section class="content">
                <section class="interactive">
                    <section class="submission">
                        <% include ../partials/error-box %>
                        <% include ../partials/user/login-form %>
                    </section>
                </section>
            </section>
        </main>
        <% include ../partials/footer %>
    </body>
</html>

