<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body>
        <% include ../partials/header %>
        <main class="page-content">
            <section class="content">
                <section class="description">
                    <% include ../partials/user/user-global-toolbar %>
                    <% include ../partials/error-box %>
                    <% include ../partials/entry/entry-toolbar %>
                    <article>
                        <h1><%= entry.title %></h1>
                        <p><%- entry.content %></p>
                        <p><%- entry.language %></p>
                        <p><%- entry.tests %></p>
                    </article>
                    <% include ../partials/comment/comments %>
                </section>
                <section class="interactive">
                    <section class="submission">
                        <% include ../partials/comment/comment-form %>
                    </section>
                </section>
            </section>
        </main>
        <% include ../partials/footer %>
    </body>
</html>

