<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body>
        <% include ../partials/header %>
        <main class="page-content">
            <section class="content">
                <section class="description">
                    <% include ../partials/user/user-global-toolbar %>
                    <% include ../partials/error-box %>
                    <section>
                        <ul>
                            <% for (let [id, entry] of Object.entries(entries)) { %>
                                <% if (entry.title === '---') { %>
                                    <hr>
                                <% } else if (/\[.+\]\(.+\)/.test(entry.title)) { %>
                                    <li>
                                        <a href='<%= entry.title.match(/\[.+\]\((.+)\)/)[1] %>'><%= entry.title.match(/\[(.+)\]\(.+\)/)[1] %></a>
                                    </li>
                                <% } else { %>
                                    <li>
                                        <a href='/entry/<%= entry.id %>'><%= entry.title %></a>
                                    </li>
                                <% } %>
                            <% } %>
                        </ul>
                    </section>
                    <% include ../partials/entry/entries-pages  %>
                    <% include ../partials/entry/entries-toolbar %>
                </section>
            </section>
        </main>
        <% include ../partials/footer %>
    </body>
</html>

